.about_info{
	max-width:800px;
	margin:0 auto 100px auto;
	padding:0 15px;
	color: #594c4c;
}
.about_info h2{
	margin:0 0 25px 0;
}
.about_info p{
	font-size:18px;
	line-height:30px;
}
.about_foto{
	display:flex;
}
.big_foto_block{
	display:inline-block;
	width:auto;
	height:auto;
	background-color: #594c4c;
	color:#f8f29e;
	text-transform: uppercase;
	border-radius: 10px;
	margin:0 20px 60px 0;
	overflow: hidden;
}
.big_foto_block:last-child{
	margin:0 0 60px 0;
}
.big_foto_block img{
	max-width: 100%;
}
.big_foto_block figcaption{
	margin:15px auto;
	text-align: center;
}
.small_foto{
	display:flex;
	justify-content: space-between;
}
.small_foto_block{
	width:160px;
	height:120px;
	position: relative;
}
.small_foto_block img{
	width: 100%;
	height: 100%;
}
.big{
	display: none;
	width:inherit;
	height: inherit;
	background-color:rgba(248, 242, 158, 0.6);
	position:absolute;
	top:0;
	left:0;
	background-image: url("../images/for_big.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 40% 40%;
	cursor: pointer;
}
.open_image_block_back{
	display:none;
	justify-content: center;
	align-items: center;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:rgba(89, 76, 76, 0.8);
}
.close_show_image_block{
	display:inline-block;
	position:absolute;
	top:15px;
	right:25px;
	width:45px;
	height:45px;
	cursor:pointer;
}
.show_image_block{
	width:678px;
	height:383px;
	background-color:#f8f29e;
	border-radius:10px;
	overflow: hidden;
}
.image_big{
	width: 100%;
	height: 100%;
}
.buttons_show_img{
	display:block;
	position: relative;
}
@media (max-width: 767px){
	.small_foto{
		display: block;
		text-align: center;
	}
	.small_foto_block{
		display:inline-block;
		margin:30px;
	}
	.show_image_block{
	width:90vw;
	height:50vw;
	}
}
@media (max-width: 480px){
	.about_foto{
		display: block;
	}
	.big_foto_block{
		margin:0 auto 30px auto;
	}
}
@media (max-width: 360px){
	.small_foto_block {
    	width: 230px;
    	height: 180px;
	}
}