.book_block{
	display:inline-block;
	width:560px;
	height:250px;
	border:1px solid #594c4c;
	border-radius: 5px;
	overflow: hidden;
	float:right;
}
.book_block:nth-child(odd){
	float:left;	
}
.book_image{
	height: inherit;
	float:left;
}
.book_info{
	height: inherit;
	display:flex;
	align-items: center;
	justify-content: center;
	color:#594c4c;
}
.book_info div{
	text-align: center;
}
.book_name{
	margin:45px 0;
}
.book_link{
	width:200px;
	height:40px;
	background-color: #594c4c;
	border:1px solid #594c4c;
	border-radius:45px;
	color:#f8f29e;
}
.book_link:hover{
	cursor:pointer;
}
.clear{
	clear: both;
}
.pages{
	text-align: center;
	margin:15px 0 0 0;
}
.num_page{
	text-decoration: none;
	color:#594c4c;
}
.page_active{
	color:red;
	text-decoration: underline;
}