.slider_books{
	width:100%;
	height:auto;
	overflow: hidden;
	margin:64px 0 0 0;
}
.slide_all{
	display:block;
	width:3000px;
	height:360px;
	position:relative;
	right:0;
}
.slide{
	display: inline-block;
	width:250px;
	height:inherit;
	margin:0 1.5% 0 0;
	background-color:#594c4c;
}
.slide p{
	text-align: center;
	text-transform: uppercase;
	color:#f8f29e;
	margin:10px 0 0 0;
	font-size: 14px;
	font-weight: bold;
}
.img_book{
	width:100%;
	height:90%;
}
.img_book img{
	width:100%;
	height: 100%
}
.buttons_slider{
	display: flex;
	justify-content: space-between;
	width:50%;
	margin:50px auto 20px auto;
}
.slider_butt{
	width:100px;
	height:40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:2px solid #594c4c;
	color:#594c4c;
	text-transform: uppercase;
	border-radius: 10px;
}
.slider_butt:hover{
	cursor: pointer;
}
