@font-face{
	font-family:BodoniNovaNr;
	src:url("../fonts/BodoniNovaNr.ttf");
}
@font-face{
	font-family:icon;
	src:url("../fonts/FontAwesome.otf");
}
*{
	margin:0;
	padding:0;
	font-family:BodoniNovaNr;
	box-sizing: border-box;
}
h1{
	font-size:45px;
	color:#594c4c;
}
.my_button{
	width:auto;
	height:35px;
	padding: 0 15px;
	color: #f8f29e;
	text-transform: uppercase;
	background-color: #594c4c;
	border:1px solid #f8f29e;
	border-radius: 35px;
}
.my_button:hover{
	cursor: pointer;
}
.mobile_menu_back{
	display: none;
	width:100vw;
	height:auto;
	padding:0 0 30px 0;
	position:fixed;
	top:0;
	left:0;
	z-index: 555;
	background-color:#594c4c;
}
.close{
	display:inline-block;
	background-image:url("../images/close.svg");
	background-color:#4a4141;
	width:30px;
	height: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	float: right;
	margin:30px 15px 0 0;
}
.close:hover{
	cursor:pointer;
}
.mobile_menu_content{
	width:80vw;
	margin:75px auto 0 auto;
	text-align: center;
}
.mobile_menu_content a{
	display:block;
	margin:0 auto 30px auto;
	color:#f8f29e;
	text-transform: uppercase;
	text-decoration: none;
}
header{
	width:100%;
	height:100px;
	background-color:#594c4c;
}
.header_content{
	max-width:1200px;
	height:inherit;
	margin:0 auto;
	padding:0 15px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.logo{
	width: 85px;
}
.header_links{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width: calc(100% - 185px);
}
.header_links a{
	color:#f8f29e;
	text-decoration: none;
}
.search_icon{
	width:35px;
}
.search_icon:hover{
	cursor:pointer;
}
.search_block, .search_mobile_block{
	display: none;
	width:80%;
	height:40px;
	background-color: #f8f29e;
	border-radius: 15px;
}
.search_mobile_block{
	margin:0 auto;
}
.search_block input, .search_mobile_block input{
	width:calc(100% - 70px);
	height:inherit;
	background-color: inherit;
	border-radius: 15px 0 0 15px;
	padding:0 10px;
	border:none;
}
.search_query_button, .search_query_button_mobile{
	display:inline-block;
	height: inherit;
	width: 40px;
	float:right;
	border-radius: 0 15px 15px 0;
	background-image: url("../images/enter.svg");
	background-size: 20px 20px;
	background-position: center center;
	background-repeat: no-repeat;
}
.search_query_button:hover, .search_icon_mobile:hover, .search_query_button_mobile:hover{
	cursor:pointer;
}
.search_icon_mobile{
	width:40px;
	height:40px;
}
.menu_sendvich{
	display:none;
}
.crumbs{
	width:100%;
	height:50px;
	background-color: #594c4c;
	border-top:1px dotted #f8f29e;
}
.crubs_content{
	max-width:1200px;
	height:inherit;
	margin:0 auto;
	padding:0 15px;
	display: flex;
	align-items: center;
}
.crubs_content{
	color: #f8f29e;
	text-transform: uppercase;
	font-size: 12px;
}
.crubs_content a{
	color:#f8f29e;
	text-decoration: none;
	border-bottom: 1px dotted #f8f29e;
}
.body_back{
	width:100%;
	background-color:#f8f29e;
	padding: 60px 0;
}
.body_content{
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
	min-height:500px;
	background-color: #f8f29e;
}
.cut_block{
	display:inline-block;
	width:calc(100% - 400px);
	padding:0 20px 50px 0;
	height:443px;
	overflow:hidden;
	position:relative;
	font-size:18px;
	line-height: 26px;
	color: #8c1f1f;
}
.cut_block h1{
	text-align:center;
	margin:0 auto 25px auto;
	line-height: 42px;
}
.cut_block p{
	margin:25px 0 0 0;
}
.fog{
	width:100%;
	height:100px;
	background: linear-gradient(to top, rgba(248, 242, 158, 1), rgba(0, 0, 0, 0));
	position:absolute;
	bottom:0px;
}
.verter_img{
	display:inline-block;
	float:right;
	background-image: url("../images/Verter.jpg");
	width:343px;
	height:480px;
}
footer{
	width:100%;
	height:150px;
	background-color:#594c4c;
}
.footer_content{
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
	height:inherit;
	color:#f8f29e;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.footer_menu a{
	color:#f8f29e;
	text-decoration:none;
	margin:0 50px 0 0;
}
.social_nets_block a{
	margin:0 30px 0 0;	
}
.footer_menu a:last-child, 
.social_nets_block a:last-child{
	margin:0;
}
.social_nets_block a img{
	width:20px;
	height: 20px;
}



@media (max-width:480px){
	.header_links{
		display:none;
	}
	.cut_block{
		width:100%;
	}
	.menu_sendvich{
		display:block;
		width: 40px;
	}
	.menu_sendvich:hover{
		cursor:pointer;
	}

	.verter_img{
		display:none;
	}
}