@font-face{
	font-family:BodoniNovaNr;
	src:url("../fonts/BodoniNovaNr");
}
*{
	margin:0;
	padding:0;
	font-family:BodoniNovaNr;
}
.my_button{
	width:auto;
	height:35px;
	padding: 0 15px;
	color: #f8f29e;
	text-transform: uppercase;
	background-color: #594c4c;
	border:1px solid #f8f29e;
	border-radius: 35px;
}
.my_button:hover{
	cursor: pointer;
}
header{
	width:100%;
	height:100px;
	background-color:#594c4c;
}
.header_content{
	max-width:1200px;
	height:inherit;
	margin:0 auto;
	padding:0 15px;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.logo{
	width: 85px;
}
.header_links{
	display:flex;
	justify-content:space-between;
	align-items:center;
	width: calc(100% - 185px);
}
.header_links a{
	color:#f8f29e;
	text-decoration: none;
}
.search_icon{
	width:35px;
}
.search_icon:hover{
	cursor:pointer;
}
.menu_sendvich{
	display:none;
}
.crumbs{
	width:100%;
	height:50px;
	background-color: #594c4c;
	border-top:1px dotted #f8f29e;
}
.crubs_content{
	max-width:1200px;
	height:inherit;
	margin:0 auto;
	padding:0 15px;
	display: flex;
	align-items: center;
}
.crubs_content{
	color: #f8f29e;
	text-transform: uppercase;
}
.crubs_content a{
	color:#f8f29e;
	text-decoration: none;
	border-bottom: 1px dotted #f8f29e;
}
.body_back{
	width:100%;
	background-color:#f8f29e;
	padding: 60px 0;
}
.body_content{
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
	height:auto;
	background-color: #f8f29e;
}
.cut_block{
	display:inline-block;
	width:calc(100% - 400px);
	padding:0 20px 50px 0;
	height:480px;
	overflow:hidden;
	position:relative;
	font-size:18px;
	line-height: 26px;
	color: #8c1f1f;
}
.cut_block h1{
	text-align:center;
	margin:0 auto 25px auto;
	line-height: 42px;
}
.cut_block p{
	margin:25px 0 0 0;
}
.fog{
	width:100%;
	height:70px;
	background: linear-gradient(to top, rgba(248, 242, 158, 1), rgba(0, 0, 0, 0));
	position:absolute;
	bottom:0px;
	display:flex;
	justify-content: right;
	align-items: center;
}
.fog:hover{
	cursor:pointer;
}
.fog_img{
	width:30px;
	height:30px;
	background-image:url("../images/arrow_blue_down.svg");
	background-repeat: no-repeat;
	background-position: center center;
	transition-duration: .3s;
	transition-timing-function: linear;
}
.fog_up{
	transform:rotate(180deg);
	transition-duration: .3s;
	transition-timing-function: linear;
}
.verter_img{
	display:inline-block;
	float:right;
	background-image: url("../images/Verter.jpg");
	width:343px;
	height:480px;
}
footer{
	width:100%;
	height:150px;
	background-color:#594c4c;
}
.footer_content{
	max-width:1200px;
	margin:0 auto;
	padding:0 15px;
	height:inherit;
	color:#f8f29e;
	display:flex;
	justify-content: space-between;
	align-items: center;
}


@media (max-width:480px){
	.header_links{
		display:none;
	}
	.cut_block{
		width:100%;
	}
	.menu_sendvich{
		display:block;
		width: 40px;
	}
	.menu_sendvich:hover{
		cursor:pointer;
	}

	.verter_img{
		display:none;
	}
}